<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iSystem" value="1,th-TH,ระบบผู้ดูแลระบบ,en-US,Administration System"/>
    <add key="iSystem" value="100,th-TH,IAMS MFM - ระบบจัดการกองทุนรวม,en-US,IAMS MFM - Mutual Fund Management System,"/>
    <add key="iSystem" value="101,th-TH,mfSabaya - ระบบจัดการกองทุนรวม (สำหรับลูกค้า),,en-US,mfSabaya - Mutual Fund Management System (Customer)"/>
    <add key="iSystem" value="102,th-TH,mfSabaya - ระบบจัดการกองทุนรวม (สำหรับตัวแทนขาย),en-US,mfSabaya - Mutual Fund Management System (Selling Agent)"/>
    <add key="iSystem" value="200,th-TH,pfSabaya - ระบบจัดการกองทุนสำรองเลี้ยงชีพ,,en-US,pfSabaya - Provident Fund Management System"/>
    <add key="iSystem" value="201,th-TH,pfSabaya - ระบบจัดการกองทุนสำรองเลี้ยงชีพ (สำหรับนายจ้าง),en-US,pfSabaya - Provident Fund Management System (Employer)"/>
    <add key="iSystem" value="202,th-TH,pfSabaya - ระบบจัดการกองทุนสำรองเลี้ยงชีพ (สำหรับลูกจ้าง),en-US,pfSabaya - Provident Fund Management System (Member)"/>
    <add key="iSystem" value="300,th-TH,ระบบนายทะเบียนหลักทรัพย์,en-US,Security Registrar System"/>
    <add key="iSystem" value="400,th-TH,ระบบบิสพอร์ทอล,en-US,BizPortal System"/>
  </appSettings>
</configuration>