<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationInfo">
      <section name="iMFMS" type="imSabaya.ConfigurationSectionHandler,imSabaya"/>
      <section name="iMFMS_Customer" type="imSabaya.ConfigurationSectionHandler,imSabaya"/>
      <section name="iMFMS_SellingAgent" type="imSabaya.ConfigurationSectionHandler,imSabaya"/>
      <section name="iPFMS" type="imSabaya.ConfigurationSectionHandler,imSabaya"/>
      <section name="iPFMS_Employer" type="imSabaya.ConfigurationSectionHandler,imSabaya"/>
      <section name="iPFMS_Member" type="imSabaya.ConfigurationSectionHandler,imSabaya"/>
    </sectionGroup>
  </configSections>
  
  <!--<appSettings>
    <add key="iSystem" value="1,th-TH,ระบบผู้ดูแลระบบ,en-US,Administration System"/>
    <add key="iSystem" value="100,th-TH,IAMS MFM - ระบบจัดการกองทุนรวม,en-US,IAMS MFM - Mutual Fund Management System,"/>
    <add key="iSystem" value="101,th-TH,mfSabaya - ระบบจัดการกองทุนรวม (สำหรับลูกค้า),,en-US,mfSabaya - Mutual Fund Management System (Customer)"/>
    <add key="iSystem" value="102,th-TH,mfSabaya - ระบบจัดการกองทุนรวม (สำหรับตัวแทนขาย),en-US,mfSabaya - Mutual Fund Management System (Selling Agent)"/>
    <add key="iSystem" value="200,th-TH,pfSabaya - ระบบจัดการกองทุนสำรองเลี้ยงชีพ,,en-US,pfSabaya - Provident Fund Management System"/>
    <add key="iSystem" value="201,th-TH,pfSabaya - ระบบจัดการกองทุนสำรองเลี้ยงชีพ (สำหรับนายจ้าง),en-US,pfSabaya - Provident Fund Management System (Employer)"/>
    <add key="iSystem" value="202,th-TH,pfSabaya - ระบบจัดการกองทุนสำรองเลี้ยงชีพ (สำหรับลูกจ้าง),en-US,pfSabaya - Provident Fund Management System (Member)"/>
    <add key="iSystem" value="300,th-TH,ระบบนายทะเบียนหลักทรัพย์,en-US,Security Registrar System"/>
    <add key="iSystem" value="400,th-TH,ระบบบิสพอร์ทอล,en-US,BizPortal System"/>
  </appSettings>-->
  
  <applicationInfo>
    <iMFMS>
      <code>100</code>
      <title>iMFMS</title>
      <description1>en-US,Mutual Fund Management System</description1>
      <description2>th-TH,ระบบจัดการกองทุนรวม</description2>
    </iMFMS>
    <iMFMS_Customer>
      <code>101</code>
      <title>iMFMS Customer</title>
      <description1>en-US,Mutual Fund Management System (Customer)</description1>
      <description2>th-TH,ระบบจัดการกองทุนรวม (สำหรับลูกค้า)</description2>
    </iMFMS_Customer>
    <iMFMS_SellingAgent>
      <code>102</code>
      <title>iMFMS Selling Agent</title>
      <description1>th-TH,ระบบจัดการกองทุนรวม (สำหรับตัวแทนขาย)</description1>
      <description2>en-US,Mutual Fund Management System (Selling Agent)</description2>
    </iMFMS_SellingAgent>
    <iPFMS>
      <code>200</code>
      <title>iPFMS</title>
      <description1>th-TH,ระบบจัดการกองทุนสำรองเลี้ยงชีพ</description1>
      <description2>en-US,Provident Fund Management System</description2>
    </iPFMS>
    <iPFMS_Employer>
      <code>201</code>
      <title>iPFMS Employer</title>
      <description1>th-TH,ระบบจัดการกองทุนสำรองเลี้ยงชีพ (สำหรับนายจ้าง)</description1>
      <description2>en-US,Provident Fund Management System (Employer)</description2>
    </iPFMS_Employer>
    <iPFMS_Member>
      <code>202</code>
      <title>iPFMS Member</title>
      <description1>th-TH,ระบบจัดการกองทุนสำรองเลี้ยงชีพ (สำหรับลูกจ้าง)</description1>
      <description2>en-US,Provident Fund Management System (Member)</description2>
    </iPFMS_Member>
  </applicationInfo>
</configuration>