@{
    ViewBag.Title = "หน้าหลัก";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearFix"></div>
<div class="content-box">
    <div class="content-left">
        <div class="title">หน้าหลัก</div>
        <ul>
            <li class="style1"><a href="~/UserPage/ProjectRisk_Intro"><strong>บันทึกการประเมินโครงการเพื่อประกอบคำของบประมาณ</strong></a></li>
            <li class="style1"><a href="#"><strong>ระบบจำลองการกรอกข้อมูลเพื่อเรียนรู้ก่อนการบันทึกจริง</strong></a></li>
        </ul>
    </div>
    <div class="content-right">
        <div class="box">
            <div class="box-header"></div>
            <div class="box-body">
                <div>
                    <p class="title">คู่มือการใช้งานระบบ</p>

                    <ul>
                        <li><a href="~/Document/1คู่มือการใช้โปรแกรมของส่วนราชการ.pdf" target="_blank">คู่มือการใช้งานการวิเคราะห์ความเสี่ยงตามหลักธรรมาภิบาล</a></li>
                        <li><a href="~/Document/2คู่มือส่วนราชการ.pdf" target="_blank">คู่มือการวิเคราะห์ความเสี่ยงตามหลักธรรมาภิบาล สำหรับคำของบประมาณ</a></li>
                        <li><a href="~/Document/3แบบฟอร์มประกอบแนวทางการตอบแบบสอบถาม.docx" target="_blank">แบบฟอร์มประกอบแนวทางการตอบแบบสอบถาม</a></li>
                    </ul>
                </div>
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
</div>
<div class="clearFix"></div>

